astroid==2.2.5
beautifulsoup4==4.7.1
bs4==0.0.1
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.20
django-rest-auth==0.9.5
djangorestframework==3.10.0
get==2019.3.22
gunicorn==19.9.0
isort==4.3.16
lazy-object-proxy==1.3.1
mccabe==0.6.1
numpy==1.16.2
pandas==0.24.2
Pillow==6.1.0
post==2019.3.22
psycopg2-binary==2.8.3
public==2019.3.22
pylint==2.3.1
python-dateutil==2.8.0
pytz==2018.9
query-string==2019.3.22
request==2019.3.22
selenium==3.141.0
six==1.12.0
soupsieve==1.9
sqlparse==0.3.0
typed-ast==1.3.1
urllib3==1.24.1
whitenoise==4.1.3
wrapt==1.11.1
